<div class="app container-fluid">
    <h3 class="text-muted">Your Travel Insurance</h3>
    <div class="row tz">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-muted text-uppercase">
            1.Personal Details
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-muted text-uppercase">
            2.Review
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-muted text-uppercase">
            3.Acknowledgement
        </div>
    </div>
    <progressbar max="100" [value]="progressVal" type="danger"  [animate]="true"></progressbar>
    <router-outlet></router-outlet>
</div>
